.actions {
    text-align: right;
}

.socials {
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2em;
}

.socials:hover {
    background-color: black;
}

.socials:hover svg {
    fill: white;
}

.socials svg {
    width: 15px;
    height: 15px;
}




.toggle-theme-button-wrapper {
    border-radius: 44px;
    background-color: #FFFEF8;
}





.toggle-theme-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 44px;
    background-color: #FFFEF8;

}

.bg-blue {
    background-color: #144F53;
    color: white;
}

h3 {
    font-family: 'HalveticaNowRegular';
}

li {
    font-family: 'NeueMontrealRegular';
    font-size: 14px;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}

.actions .button--alt {
    color: #8a2b06;
}

.actions .button {
    background-color: #8a2b06;
    color: white;
}