@import url(../components/theme/classic.css);
@import url(../components/theme/funky.css);

.navbar-bg {
    background-image: url("../assets/bg/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgb(73, 63, 47);
    background: linear-gradient(90deg, rgba(73, 63, 47, 1) 0%, rgba(19, 25, 34, 1) 40%, rgba(18, 21, 28, 1) 100%); */
    width: 100%;
    height: calc(20vh+100vh);
}

::placeholder {
    color: var(--color-blue);
}

.navInput {
    border: none;
    background-color: transparent;
    color: var(--color-blue);
    outline: none;
    width: 80px;
}

.product-btn {
    border: 1px solid var(--color-pink);
}

.product-btn:hover {
    color: var(--color-blue);
    background-color: transparent;
    border: 2px solid var(--color-pink);
}

.product-btn:hover a {
    color: var(--color-blue);
}

.play-btn {
    color: var(--color-pink);
    height: 35px;
    width: 35px;

}

.play-btn:hover {
    color: var(--color-pink);
    height: 40px;
    width: 40px;

}

a {
    text-decoration: none;
    color: var(--color-blue);
}

.search-icon svg {
    color: var(--color-blue);
}



.nav-gradient {
    /* background: rgb(73, 63, 47);
    background: linear-gradient(90deg, rgba(73, 63, 47, 1) 0%, rgba(19, 25, 34, 1) 40%, rgba(18, 21, 28, 1) 100%); */
    background-image: url("../assets/bg/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.blackbgStyle {
    background-color: black;
}

.cart {
    font-size: 20px;
    color: var(--color-yellow);
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    /* Styles for screens with a minimum width of 576 pixels and a maximum width of 768 pixels go here */
    .margin {
        padding-top: 2rem;
    }

    .icons {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    /* Styles for screens with a minimum width of 768 pixels and a maximum width of 992 pixels go here */
    .margin {
        padding-top: 4rem;
    }

    .icons {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /* Styles for screens with a minimum width of 992 pixels and a maximum width of 1200 pixels go here */
    .margin {
        padding-top: 4rem;
    }

    .icons {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 1200px) {

    /* Styles for screens with a minimum width of 1200 pixels go here */
    .margin {
        padding-top: 4rem;
    }

    .icons {
        width: 50px;
        height: 50px;
    }
}