@import '../theme/classic.css';
@import '../theme/funky.css';

.icon {
    padding: 0 1rem;
}

.margin-footer {
    margin: 8rem auto auto auto;
}

.title {
    font-size: 24px;
    color: var(--color-pink);
    font-family: 'NeueMontrealRegular';
}

ul li {
    list-style-type: none;
    font-family: 'NeueMontrealRegular';
}

.hr {
    border: 1px solid var(--color-pink);
    opacity: 0.5;
    width: 75%;
}

.social-icon-footer {

    padding-right: 1em;
    color: var(--color-blue);
}

.footer-links {
    color: var(--color-yellow);
}

.lh-2 {
    line-height: 2;
}

.lh-3 {
    line-height: 3;
}

ul {
    padding: 0;
}

.bgBlack {
    background-color: #000;
}

.bgNone {
    background-color: transparent;
}