.login-bg {
    background-image: url("../../assets/videos/world-transparent.gif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.transparent-box {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(126px);
    border-radius: 46px;
    height: 600px;
}

.border-box {
    height: 600px;
    border: 1px solid #144F53;
    align-items: flex-end;
    justify-content: center;
    border-radius: 46px;
    height: 600px;
}

.border-box img {
    background-size: cover;
    height: 60%;
}

.tabbed-buttons {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 48px;
}



.btn-login {
    background-color: transparent;
    border-radius: 44px;
    color: white;
    border: none;

}

.bg-green {
    background: #144F53 !important;
}

.py-px-2-2 {
    padding: 1.5rem 2rem;
}

.py-px-2-4 {
    padding: 1.5rem 4rem;
}


.custom-input-login-page {
    background-color: transparent;
    border-radius: 48px;
    padding: 1.5rem;
}

.custom-input-register-page {
    background-color: transparent;
    border-radius: 48px;
    padding: 1rem;
}

.custom-input:focus {
    background-color: transparent;
    outline: 0 none;
    box-shadow: none;
    color: white;
}