@import url(../components/theme/classic.css);
@import url(../components/theme/funky.css);

.hamburger-menu {

    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-pink);


}

.hamburger-menu:hover {}