@import url(../components/theme/classic.css);
@import url(../components/theme/funky.css);

.hamburger-menu {

    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-pink);
    color: black;
}



#funky-theme-navbar .hamburger-menu:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}

#classic-theme-navbar .hamburger-menu:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}



.close-menu {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
    color: white;
}

.close-menu:hover {
    background-color: black;
    color: white;
}

.popup-index-max {
    z-index: 99999;
}

.popup-index-min {
    z-index: 0;
}