.box-shadow {
    background: radial-gradient(50% 50% at 50% 50%, #020201 0%, rgba(255, 255, 255, 0) 100%);
}

.icons {
    width: 30px;
    height: 30px;
}

.card-1 {
    animation: 10s takeoff 1 linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;


}

.paused {
    animation-play-state: paused;
}

.card-2 {
    animation: 2s takeoff-alt infinite linear;
    transition-delay: 0s;
}

@keyframes takeoff {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(1.2) translateX(25vh);
    }

    50% {
        transform: scale(1.3) translateX(50vh);
    }

    75% {
        transform: scale(1.2) translateX(75%);
    }

    100% {
        transform: scale(1) translateX(150%)
    }
}

@keyframes takeoff-alt {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(1.2) translateX(-25%);
    }

    50% {
        transform: scale(1.3) translateX(-50%);
    }

    75% {
        transform: scale(1.2) translateX(-75%);
    }

    100% {
        transform: scale(1) translateX(-100%)
    }
}